@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project: Party Finder</h1>
    <p class="lead">What my project is, is a party finder web app, what you will be able to do is view parties in certain
    location based on the city you selected. When you selected a city it will show the current parties, the breif message,
    the type of party, and address of that party</p>
</div>

